[% macro markdown(value) -%]
[[ value
  | replace("&", "&amp;")
  | replace("#", "&#35;")
  | replace("\\", "&#92;")
  | replace("<", "&lt;")
  | replace(">", "&gt;")
  | replace("[", "&#91;")
  | replace("]", "&#93;")
  | replace("*", "&#42;")
  | replace("_", "&#95;")
  | replace("`", "&#96;")
]]
[%- endmacro %]
# [[ markdown(project_name) ]] overview

- Project kind: `[[ markdown(project_kind) ]]`

## Purpose

[[ markdown(project_purpose) ]]

## Intended users

[[ markdown(project_users) ]]

## Current scope

[[ markdown(project_scope) ]]

Future behavior belongs in [Planned features](../planned-features.md) until delivered.

## Boundaries

[[ markdown(project_boundaries) ]]
